<div id="{{id}}" data-url="{{url}}" class="ui-widget-content">
    <h5>{{title}}</h5>

    <div id="accordion_{{id}}" class="accordion">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{id}}" href="#content_{{id}}">Collapse</a>
        <div id="content_{{id}}" class="content-item collapse in"></div>
    </div>
</div>
